@import "../App.scss";

.main-container {
  display: flex;
  flex-wrap: wrap;

  .tabpanel {
    background-color: #fff;

    .vertical-tabs {
      background-color: #fff;
      height: 100%;
      position: relative;

      .edit-box {
        border-bottom: 1px solid $borderColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 86px;

        span {
          color: $lightGreyColor;
          font-size: 10px;
          line-height: 11px;
          margin-top: 10px;
        }
      }

      .btn-toggle {
        transition: opacity .4s;
        width: 30px;
        height: 93px;
        margin-top: calc(50vh - 93px);
        background-color: #fff;
        border: 1px solid #F1F1F3;
        position: absolute;
        right: -31px;
        z-index: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .arrowimage {
          width: 15px;
          height: 15px;
        }
      }
    }

    .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
      border-right: none!important;
      height: 100%;
    }

    .rwt__tablist {
      margin-right: 0 !important;
    }

    .rwt__tabpanel {
      padding: 30px 23px;
    }

    .rwt__tab {
      padding: 0 !important;
    }

    .rwt__tab:focus,
    .rwt__tab[aria-selected="false"]:hover {
      background-color: #fff!important;
    }
  }
}
